<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:insert="/inc/head_fragment :: header"></th:block>
</head>
<body>
    <div class="container align-content-center">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Wtaj w księdze gości</h1>
                <h2 th:if="${success != null || error != null}"
                    th:class="${'alert ' + (success != null ? 'alert-success' : 'alert-danger')}"
                    th:text="${success != null ? success : error}"></h2>
            </div>
        </div>


        <form action="/" method="post">
            <input class="form-control" type="text" name="name" placeholder="Imię" required>
            <input class="form-control" type="text" name="surname" placeholder="Nazwisko" required>
                <br/>
            <textarea class="form-control" title="Data" name="message"></textarea>
            <input class="btn btn-primary" type="submit"  value="Wyślij">
        </form>

        <br/>

        <a class="btn-primary btn" href="/list">Lista wszystkich wpisów</a>
    </div>
</body>
</html>